* {
    margin: 0;
    padding: 0;
    font-family: "Paytone One";
}

body {
    background: black;
    background-image: url(src/img/S01-P02-DGT-PB-Redacoes-Post-Blog\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
}

main {
    height: 100vh;
}

header {
    width: 100%;
}

.barra-cima {
    background: rgba(9, 35, 50, 1);
    width: 100%;
}

.information {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(9, 35, 50, 1);
}

#logo-escola {
    width: 100px;
}


.conteudo {
    margin-left: 20px;
    left: 10px;
    bottom: 10px;
    color: #FFF;
    text-shadow: 3px 4px 4px rgba(22, 191, 90, 0.47);
    font-family: "Paytone One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto {
    position: relative;
}

.saibamais > a{
    color: #FFF;
    font-family: "Paytone One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    text-decoration: none;
}

.saibamais a:hover {
    text-shadow: 0 0 8px rgba(92, 254, 0, 1);
}

.material-estudo > a{
    color: #FFF;
    font-family: "Paytone One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    text-decoration: none;
}

.material-estudo a:hover {
    text-shadow: 0 0 8px rgba(92, 254, 0, 1);
}

.folha-redacao > a{
    color: #FFF;
    font-family: "Paytone One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    text-decoration: none;
}

.folha-redacao a:hover {
    text-shadow: 0 0 8px rgba(92, 254, 0, 1);
}


.enviar > a{
    transition: 1s;
    color: #FFF;
}

.enviar a:hover {
    color: rgba(1, 150, 3, 1);
    text-shadow: 0 0 8px black;
}

.rodape {
    background-color: rgba(1, 150, 3, 1);
    width: 100%;
    position: fixed;
    left: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
}

.instagram {
    margin: 10px;
    margin-left: 20px;
}

.whatsap {
    margin: 10px;
    margin-left: 20px;
}

.drive {
    margin: 10px;
    margin-left: 20px;
}

.texto-rodape {
    display: flex;
    color: #FFF;
    text-align: center;
}

.texto-rodape a {
    text-decoration: none;
    color: #FFF;
}

.texto-rodape a:hover {
    text-shadow: 0 0 10px rgba(9, 35, 50, 1);
}

